npm init
npm install 
npm install express
npm install mongoose
npm install dotenv
npm install bcryptjs
npm install jsonwebtoken
npm install cors
npm install nodemailer
npm install --save-dev nodemon
npm install axios
npm install socket.io
npm install cohere-ai
npm install swagger-ui-express js-yaml
